<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Product deletion</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary">{{name}}</span>?</strong></p>
        <p><span class="text-danger">This operation can not be undone.</span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>
    </div>
</ng-template>

<div class="card">
    <div class="row">
        <div class="col-md-2">
            <!-- img here -->
            <img src="" alt="Product picture" class="mx-auto d-block" style="width:75px; height:75;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div *ngIf="editMode" class="editModeclass">
                    <input type="text" class="form-control" [(ngModel)]="editableName" />
                    <input type="text" class="form-control" [(ngModel)]="editablePrice" />
                </div>
                <div *ngIf="!editMode" class="nonEditModeclass">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">Price: {{price}}</p>
                </div>

            </div>
            <div class="card-body">
                <div class="row justify-content-start">
                    <div class="col-auto">
                        <button *ngIf="!editMode" type="button" class="btn btn-primary"
                            (click)="onClickEdit()">Edit</button>
                        <button *ngIf="editMode" type="button" class="btn btn-primary"
                            (click)="onClickSave()">Save</button>
                    </div>
                    <div class="col-auto">
                        <button *ngIf="!editMode" type="button" class="btn btn-danger"
                            (click)="openModal(content)">Delete</button>
                        <button *ngIf="editMode" type="button" class="btn btn-danger"
                            (click)="onClickCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>