<div class="card">
    <div class="row">
        <div class="col-md-2">
            <!-- img here -->
            <img src="" alt="Product picture" class="mx-auto d-block" style="width:75px; height:75;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div *ngIf="editMode" class="editModeclass">
                    <input type="text" [(ngModel)]="editableName"/>
                    <input type="text" [(ngModel)]="editablePrice"/>
                </div>
                <div *ngIf="!editMode" class="nonEditModeclass">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">Price: {{price}}</p>
                </div>

            </div>
            <div class="card-body">
                <div class="row justify-content-start">
                    <div class="col-auto">
                        <button *ngIf="!editMode" type="button" class="btn btn-primary"
                            (click)="onClickEdit()">Edit</button>
                        <button *ngIf="editMode" type="button" class="btn btn-primary"
                            (click)="onClickSave()">Save</button>
                    </div>
                    <div class="col-auto">
                        <button *ngIf="!editMode" type="button" class="btn btn-danger"
                            (click)="editMode=true">Delete</button>
                        <button *ngIf="editMode" type="button" class="btn btn-danger"
                            (click)="editMode=false">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>