<div class="card">
    <div class="row">
        <div class="col-md-2">
            <!-- img here -->
            <img src="" alt="Product picture" class="mx-auto d-block" style="width:75px; height:75;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Price: {{price}}</p>
            </div>
            <div class="card-body">
                <div class="row justify-content-start">
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>