<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Order deletion</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete?</strong></p>
        <p><span class="text-danger">This operation can not be undone.</span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>
    </div>
</ng-template>

<div class="row justify-content-start">
    <div class="col-md-6">
        <ul>
            <li *ngFor="let orderItem of orderItems; let i = index; trackBy: trackByFn; ">
                <div class="card">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="" alt="Product picture" class="mx-auto d-block" style="width:75px; height:75;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="onEditClass">
                                    <div *ngIf="isEditMode && orderItem.orderId == editableOrderId || isCreateMode && orderItem.orderId == null"
                                        class="input-group mb-3">
                                        <select [(ngModel)]="newEditableProductId" class="custom-select"
                                            id="inputGroupSelectProducts1">
                                            <ng-template ngFor let-product [ngForOf]="products" let-i="index"
                                                [ngForTrackBy]="trackByFn">
                                                <option value="{{product.id}}">{{product.name}}</option>
                                            </ng-template>
                                        </select>
                                        <select [(ngModel)]="newEditableStatusId" class="custom-select"
                                            id="inputGroupSelectStatuses">
                                            <ng-template ngFor let-status [ngForOf]="statuses" let-i="index"
                                                [ngForTrackBy]="trackByFn">
                                                <option value="{{status.id}}">{{status.name}}</option>
                                            </ng-template>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="!isEditMode || orderItem.orderId != editableOrderId" class="nonEditClass">
                                    <h5 class="card-title">Name: {{orderItem.productName}}</h5>
                                    <p class="card-text">Price: {{orderItem.productPrice}}</p>
                                    <p class="card-text">Status: {{orderItem.statusName}}</p>
                                </div>
                                <div></div>
                            </div>
                            <div class="card-body">
                                <div *ngIf="orderItem.orderId == null && isCreateMode" class="isCreateClass">
                                    <button type="button" class="btn btn-primary" (click)="onClickSaveNewOrder()">Add
                                        Order</button>
                                    <button type="button" class="btn btn-danger"
                                        (click)="onClickCancelNewOrder()">Cancel</button>
                                </div>
                                <div class="row justify-content-start">
                                    <div *ngIf="!isEditMode && orderItem.productId != null" class="col-auto">
                                        <button type="button" class="btn btn-primary"
                                            (click)="onClickEdit(orderItem)">Edit</button>
                                        <button type="button" class="btn btn-danger"
                                            (click)="openModal(content, orderItem.orderId)">Delete</button>
                                    </div>
                                    <div *ngIf="isEditMode" class="col-auto">
                                        <button type="button" class="btn btn-primary"
                                            (click)="onClickSave()">Save</button>
                                        <button type="button" class="btn btn-danger"
                                            (click)="onClickCancel()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <button *ngIf="!isCreateMode" type="button" class="btn btn-primary" (click)="onClickAddOrder()">Add
            Order</button>
    </div>
</div>